.App {
  text-align: center;
  background-color: #f6f4ef;
  min-height: 100vh;
  font-family: "BV Celine";
  font-weight: normal;
  font-style: normal;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.sidebar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
.main {
  width: 80%;
}

.sidebar {
  width: 20%;
  height: 100vh;
}
